body{
    background-color: #e0e5ec;
}

div.yield-container{
    margin-top: 60px;
}

ul.navbar-nav{
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
    font-size: small;
}

li.search{
    margin-left: auto;
    height: 35px;
    padding-top: 5px;
    padding-right: 10px
}